project1-n8n/Data_Cleaning agent (4).json
{
  "name": "Data_Cleaning agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-cleaner-1",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true,
          "binaryPropertyName": "file"
        }
      },
      "name": "Webhook - Receive CSV",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -192,
        192
      ],
      "id": "e524f556-2255-4840-be00-f0fca4a49277",
      "webhookId": "9be8bfc7-ddb6-4bf8-8f4c-5b54be8a3827"
    },
    {
      "parameters": {
        "binaryPropertyName": "file",
        "options": {}
      },
      "name": "Extract From File (CSV)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        48,
        192
      ],
      "id": "9c12075a-6c41-44ee-b8e0-6ddd278a25e0",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get all rows from previous node\nconst data = $input.all().map(i => i.json);\n\n// If CSV is empty, just return empty\nif (data.length === 0) {\n  return [{ json: { error: \"No data in CSV\" } }];\n}\n\n// Get all column names\nconst cols = Object.keys(data[0]);\n\n// Create summary for each column\nlet summary = cols.map(c => {\n  const values = data.map(r => r[c]);\n  const empty = values.filter(v => v === '' || v === null || v === undefined).length;\n  const unique = new Set(values).size;\n  \n  // detect type: numeric if all values are numbers (ignoring blanks)\n  const nonEmptyValues = values.filter(v => v !== '' && v !== null && v !== undefined);\n  const type = nonEmptyValues.every(v => !isNaN(v)) ? 'numeric' : 'string';\n  \n  return { column: c, missing: empty, unique, type };\n});\n\n// Return first 5 rows as a sample + the summary\nreturn [{\n  json: {\n    sample: data.slice(0, 5),\n    summary\n  }\n}];\n"
      },
      "name": "Profile Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        288,
        192
      ],
      "id": "18a22eeb-ba23-46b3-9ee9-64ea8bf66b82"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1008,
        192
      ],
      "id": "b66f92f5-6190-4887-978f-3d2cc5eb6857"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_HF_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.llmBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        192
      ],
      "id": "d06f286b-4671-488b-b6c9-273fec5bf586",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f496a06c-40d4-4a83-9353-741629c574d3",
              "name": "llmBody",
              "value": "={\n  \"model\": \"meta-llama/Llama-3.1-8B-Instruct:fireworks-ai\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a data quality analyst. Return ONLY a valid JSON object with keys: issues, duplicates, type_mismatches, summary, recommendations. Do not add any extra commentary.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Dataset summary:\\n{\\\"column1\\\": \\\"string\\\", \\\"column2\\\": \\\"number\\\"}\\n\\nSample rows:\\n[{\\\"column1\\\": \\\"A\\\", \\\"column2\\\": 1}, {\\\"column1\\\": \\\"B\\\", \\\"column2\\\": 2}, {\\\"column1\\\": \\\"C\\\", \\\"column2\\\": 3}, {\\\"column1\\\": \\\"D\\\", \\\"column2\\\": 4}, {\\\"column1\\\": \\\"E\\\", \\\"column2\\\": 5}]\"\n    }\n  ]\n}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        192
      ],
      "id": "c2c03e85-83bd-4135-be48-913df5adf5dd",
      "name": "Prepare LLM Body"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Receive CSV": {
      "main": [
        [
          {
            "node": "Extract From File (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File (CSV)": {
      "main": [
        [
          {
            "node": "Profile Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Summary": {
      "main": [
        [
          {
            "node": "Prepare LLM Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca94b874-a687-4d4c-8216-e15b5a1e2615",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e44daf4588d35b516bee1db371de3c55f4e4f466e94202e7233584ff70b3708e"
  },
  "id": "qSbYGNTLuPZfC1Uz",
  "tags": []
}