project2-n8n/TestingGmail (1).json
{
  "name": "TestingGmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3b4bd227-2f0f-443f-992a-9bf1c7190ebb",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "PQC4FjpBeq0npzQF",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=u are an intelligent bot from this summary try to draft a reply mail for this  {{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "785fd0d9-3bf9-49cd-8ba1-b2d7115aada3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "31fcfafe-ce0f-4a1b-b6ae-98e210c0e01b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mJPBBvmTkrCxhbX5",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tapunita05@gmail.com",
        "subject": "hello world",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "eca2cab6-f815-4fec-bf18-ccd7efd6ceea",
      "name": "Send a message",
      "webhookId": "715f6ddc-2044-435c-a6fc-7910cd4ef515",
      "credentials": {
        "gmailOAuth2": {
          "id": "PQC4FjpBeq0npzQF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1d062bf9-e373-4162-bc5d-da9c422b54bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e44daf4588d35b516bee1db371de3c55f4e4f466e94202e7233584ff70b3708e"
  },
  "id": "hKtwC9JT2B3yYs5w",
  "tags": []
}